<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WebApplicationTestSuite">

    <test name="WebApplicationTestCase">
<!--        <parameter name="browserType" value="web" />-->
        <parameter name="browserType" value="web" />
        <classes>
            <class name="Runner.TestRunner"/>
        </classes>
    </test>

</suite>
